body, p
{
	padding: 0;
	margin: 0;
}

/* ----- MAIN PAGE ----- */

#wrapper
{
	height: 100vh;
	background-color: slategrey;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	overflow: auto;
}

#logo-div
{
	min-height: 10em;
	height: 12vh;
	vertical-align: middle;
	text-align: center;
}

#logo
{
	padding-top: 55px;
	transform: scale(0.40);
}


/* CONTENT */
#main-div
{
	height: 70vh;
	display: table;
	margin: 0 auto;
}

.type
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding-top: 80px;
}

#left-type
{
	margin: 0;
}

#right-type
{
	margin: 0;
}

/* BUTTONS */

#buttons-div
{
	height: 12vh;
	display: table;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}


.button
{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	vertical-align: middle;
	text-align: center;
}

#pair-type
{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 100px;
	float: left;
	vertical-align: middle;
}

/* ----- PAIRED PAGE ----- */
/* HEADER */
#paired-page
{
	display: none;
	vertical-align: middle;
	text-align: center;	
}

#paired-image
{
	padding: 0;
	margin: 0;
}

#paired-info-page
{
	padding: 0;
	margin: 0;
}

#paired-info-header
{
	min-height: 10em;
	vertical-align: middle;
	text-align: center;
}

h3
{
	font-style: italic;
}

#paired-info-text
{

}

#back-button-div.centre
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#back-button
{
	color: silver;
	margin: auto;
	display: inline-block;
	font-size: 150%;
}

/* INFORMATION */
#paired-type-info
{
	min-height: 10em;
	text-align: center;
}

#paired-type-one-div, #paired-type-two-div
{
	vertical-align: middle;
	text-align: center;
	float: left;
}