body, p
{
	padding: 0;
	margin: 0;
}

/* ---- FONTS ----*/
@font-face
{
	font-family: openSans;
	src: url(fonts/open_sans_regular.ttf)
}

@font-face
{
	font-family: openSansBold;
	src: url(fonts/open_sans_bold.ttf)
}

@font-face
{
	font-family: openSansItalic;
	src: url(fonts/open_sans_italic.ttf)
}

/* ----- MAIN PAGE ----- */

#wrapper
{
	height: 100vh;
	background-color: slategrey;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	overflow: auto;
}

#logo-div
{
	min-height: 10em;
	height: 15vh;
	vertical-align: middle;
	text-align: center;
}

#logo
{
	padding-top: 55px;
	transform: scale(0.40);
}


/* CONTENT */
#main-div
{
	height: 70vh;
	display: table;
	margin: 0 auto;
}

.type
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding-top: 80px;
}

#left-type
{
	margin: 0;
}

#right-type
{
	margin: 0;
}

/* BUTTONS */

#buttons-div
{
	height: 12vh;
	display: table;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}


.button
{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	vertical-align: middle;
	text-align: center;
}

#pair-type
{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 100px;
	float: left;
	vertical-align: middle;
}

/* ----- PAIRED PAGE ----- */
/* HEADER */
#paired-page
{
	display: none;
	margin: 0 auto;
}

#paired-image
{
	padding: 0;
	margin: 0;
	display: block;
}

#paired-image img
{
	display: block;
	width: 100%;
	height: 100%;
}

#paired-info-page
{
	padding: 0;
	margin: 0;
	display: block;
}

h1
{
	font-family: openSansBold;
	padding: 0;
	margin: 0;
}

h2
{
	font-family: openSansItalic;
	font-weight: normal;
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;
}

#paired-info-header
{
	min-height: 10em;
	vertical-align: middle;
	text-align: center;
}

#paired-info-text
{
	font-family: openSans;
	margin-bottom: 15px;
	margin-left: 40px;
	margin-right: 40px;
}

#back-button-div
{
  display: block;
  margin: 0 auto;

}

#back-button
{
	color: silver;
	margin: auto;
	font-size: 100%;
	font-family: openSans;
	margin: 10px;
}

/* INFORMATION */
#paired-type-info
{
	min-height: 10em;
	text-align: center;
	display: block;
}

#paired-type-one-div, #paired-type-two-div
{
	vertical-align: middle;
	text-align: center;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

.type-header
{
	font-family: openSansBold;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
}

.type-place
{
	font-family: openSansItalic;

}

.type-type
{
	font-family: openSansItalic;
}

.type-image
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.type-info
{
	font-family: openSans;
}